/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

/* UTILS */
.clearfix {
  content: "";
  display: block;
  clear: both;
}

/* STRUCTURE */
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container_cards {
  width: 100%;
}

.col {
  width: calc(100% / 3);
  background-color: red;
  height: 100px;
}
