/* GENERICS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
}

img {
  height: 100px;
}

/* UTILS */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.cards img {
  float: left;
  margin-right: 10px;
}

.informations {
  height: calc(100px / 3);
  line-height: calc(100px / 3);
}

/* STRUCTURE CARDS*/
.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.col {
  display: inline-block;
  width: 30%;
  margin: 15px 1%;
  background-color: #0f0e17;
}

.informations * {
  text-align: left;
}

h3,
.task {
  color: #fffffe;
}

a {
  display: block;
  color: #1b93dc;
  font-size: 14px;
  text-align: left;
}
